$c_primary_dark: #3963a1;
$c_font: #2b4366;
$c_primary: #88abde;
$c_primary_light: #c5d2e6;
$c_bg: #f9f8fc;
$font_serif: "Playfair Display", Georgia, "Times New Roman", Times, serif;
$font_sans_serif: "Open Sans", Arial, Helvetica, sans-serif;
